@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Open+Sans');
html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  font-size: 62.5%;
}
