<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <h1 class="m-header">Louisiana. Fast.</h1>

    <div class="l-main">

      <section id="landing" class="m-section m-section--landing">
        <p><span class="m-phrase" id="phrase-one">You're hungry.</span> <span class="m-phrase" id="phrase-two">Don't panic.</span></p>
        <div class="spinner hidden" id="btn-loader"></div>

        <div class="m-button__wrapper" id="btn-fader">
          <button id="chicken-btn" class="button--moema">Fix it.</button>
        </div>
      </section>
      <section id="loading" class="m-section hidden">
        <div class="spinner"></div>
      </section>
      <section id="results" class="m-section m-section--results hidden">
        <p id="results-phrase-one" class="m-phrase m-phrase--results align-right"><span>You</span> are here.</p>
        <div id="map"></div>
        <p id="results-phrase-two" class="m-phrase m-phrase--results">The nearest <span>Popeyes</span> is here.</p>
      </section>
      <section id="directions" class="m-section m-section--directions">
        <ul id="directions-list" class="m-directions">
        </ul>
      </section>
    </div>
  </body>
</html>
